table, th, td {
    border: 1px solid black;
}

body {
    background-color: #FFFFCC;
    font-family:sans-serif;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    background-color: #990300;
    color: #FFFFCC;
    border-bottom: 10px solid #CC0600; 
}

.zeuslink {
    text-decoration: none;
    color: #8C1C88;
}

h2 {
    font-size: 32px;
    background-color: #009801;
    color: #FFFFFF;
    padding: 5px 10px;
}

p{
    font-size: 20px;
}

ul, ol {
    color: #e72e2e;
}

#table-dummy {
    background-color: #CCCCCC;
}

.googleImg {
    background-color: #ffffff;
    width: 300px;
    height: auto;
}

#inpForm label{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
}

#inpForm input, #inpForm textarea{
    margin-bottom: 15px;
    font-size: 18px;
}

#inpForm input::placeholder, #inpForm textarea::placeholder{
    color: #0f0f0f;
}

.greyText {
    color: #999999;
    font-size: 22px;
}